<div class="container">
  <input type="file" accept="image/*" (change)="onFileSeleceted($event)">
  <button class="btn btn-outline-success" (click)="uploadImage()">UPLOAD</button>
</div>

<!-- 
<form [formGroup]="imageForm" (ngSubmit)="uploadImage()" class="container">
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileChange($event)" formControlName="image">
    </div>
    <button type="submit" class="btn">submit</button>
  </form> -->