<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle" aria-controls="dropdown-basic" aria-expanded="false" aria-haspopup="true">
              {{ dropdownHeading }} 
              <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="setSearchKey('productName')">Name</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" (click)="setSearchKey('productCode')">Code</a></li> 
            </ul>
        </div>
      <input type="text" class="form-control" #searchQuery aria-label="Text input with dropdown button">
        </div>
      </div>
      
      <div class="col-md-4">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchProducts(searchQuery.value)">Search</button>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">MRP</th>
            <th scope="col">SSP</th>
            <th scope="col">YMP</th>
            <th scope="col">Category</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCode }}</td>
            <td>{{ product.mrp }}</td>
            <td>{{ product.ssp }}</td>
            <td>{{ product.ymp }}</td>
            <td>{{ product.categoryName }}</td>
            <td>
              <a routerLink="/product/{{product.id}}">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div style="padding-top:30px;padding-left:30px;">
        <form>
           <div class="row">
            <div class="col-md-6">
              <h5>Choose status:</h5>
              <input type="radio" name="status" value="NEW_CHECKED"/>NEW
              <br />
              <input type="radio" name="status" value="APPROVED"/>APPROVED
              <br />
              <input type="radio" name="status" value="REVIEW"/>REVIEW
              <br />
              <input type="radio" name="status" value="REJECTED"/>REJECTED
            </div>
            <div class="col-md-6">
              <h5>Sort By:</h5>
               <input type="radio" name="sortBy" value="mrp">MRP
              <br />
              <input type="radio" name="sortBy" value="ssp"/>SSP
              <br />
              <input type="radio" name="sortBy" value="ymp" />YMP
              <br />
              <input type="radio" name="sortBy" value="code" />Code
              <br />
            </div>
           </div>
           
           <input type="submit" class="btn" value="submit">
        </form>
      </div>
    </div>
  </div>
</div>